* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: white;
}


nav {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: xx-large;
    cursor: pointer;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    font-size: larger;
    cursor: pointer;
}

ul li {
    position: relative;
}

ul li::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: black;
    top: 1.5rem;
}

ul li:hover::before {
    width: 100%;
}



.sec1 {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.div1 {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.div1 span {
    width: 50%;
    font-size: medium;
}

.div1 p {
    width: 50%;
    font-size: 3rem;
}





.div2 {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.div2 p {
    width: 58%;
    font-size: 2.6vh;
    margin-top: 3rem;
}


.sec2 {
    width: 100%;
    height: 20vh;
}

.div3 {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.bi {
    font-size: x-large;
}


.sec3 {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div4 {

    width: 86%;
    height: 180vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}



footer {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
}


.div11 {
    width: 20%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.div12 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.div12 h1 {
    font-size: x-large;
}

.div12 span {
    font-size: medium;
}

.div13 {
    font-size: larger;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.div14 {

    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7.3rem;
}

.div15 {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.div15 h1 {
    font-size: x-large;
}

.div15 span {
    width: 50%;
    font-size: medium;
}

.div16 {
    font-size: larger;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}




.div17 {
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}


.div17 h1 {
    font-size: x-large;
}


.inp3 {
    width: 90%;
    height: 8vh;
    border: none;
    background-color: #E3E3E3;
    margin-top: 1rem;
}




.btn4 {

    width: 30%;
    height: 8vh;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: #CCADAD;
    color: white;
    font-size: medium;
    cursor: pointer

}

.btn4:hover {
    background-color: #d3c3c3;
}